<div class="section about">
    <h3>Add new Hole</h3>

    <p>Please fill required fields to add a new hole. You can use map to set location: just try right mouse click!</p>
</div>

<div class="section more">
        <form ng-submit="createHole()">
            <textarea style="width: 99%; height: 100px" ng-model="hole.description"  placeholder="Please enter description" />
            </br>
            <div>
                <div style="height: 400px" id="map-canvas"></div>
            </div>
            <input type="file" fileread="hole.image" />
            </br>
            <button>add hole</button>
        </form>

</div>
