<div class="section about">
    <h3>Hello and welcome to our website!</h3>

    <p>Proin quis tortor orci. Etiam at risus et justo <a href="#">dignissim congue</a>. Donec congue lacinia
        dui, a porttitor lectus condimentum laoreet. <a href="#">Nunc eu ullamcorper orci</a>. Quisque eget odio
        ac lectus vestibulum faucibus eget in metus. <a href="#">In pellentesque</a> faucibus vestibulum. Nunc
        eu ullamcorper orci. Quisque egetNunc eu ullamcorper orci.</p>
</div>
<h2><span>Hole list</span></h2>
<div class="section more">
    <div class="text">
        <p ng-show="!holes">{{statusMessage}}</p>
        <li ng-show="holes" ng-repeat="result in holes">
            <span>ID: {{result.id}} </span>
            <span>Description: {{result.description}}</span>
        </li>
    </div>
    <div>
        <div style="height: 400px;" id="map-canvas"></div>
    </div>
</div>